body {
    background-color: rgba(54, 51, 51, 0.733);
}



header{
    text-align: center;
    padding: 20px 125px;
    border: 1px solid black;
    background: lightgray;
    margin: 10px;
    
}

nav{
     text-align: center;
     padding: 20px 125px;
     border: 1px solid black;
     background: lightgray;
     margin: 10px;
}

section{
    background: lightgray;
    border: 1px solid black;
    margin-bottom: 15px;
    float: left;
    width: 50%;
    
}

aside{
    background: lightgray;
    border: 1px solid black;
    margin-bottom: 15px;
    display: inline-block;
    width: 40%;
    margin-left: 15px;
    
}
 .clearfix::after {
     content: "";
     clear: both;
     display: table;
 }


footer{
      text-align: center;
      padding: 20px 125px;
      border: 1px solid black;
      background: lightgray;
      margin: 10px;
}